<html>
  <head>
    <title>Web App 2820425</title>
  </head>
  <style type="text/css">
    body {
      background-image: linear-gradient(
        to right top,
        #6da2f2, #00c1fc, #00d8dc, #4fe7a3, #c4eb6d
      );
    }
    div {
      max-width: 500px;
      margin: auto;
      margin-top: 150px;
    }
  </style>
  <body>
    <div>
      <h1>CPL Course Project | Small Parser</h1>
      {{output}}
        <h2>Done by: Rajeswari Katta</h2>
        <h3>CSU ID: 2820425 | CIS524</h3>
    </div>
  </body>
</html>
